\:host

  float: left
  
  div.ng-searchbox-added-filter-operator

    background: #FFF
    border-radius: 6px
    margin-right: 10px
    margin-top: 8px

    span

      padding: 5px 6px 5px 6px
      font-size: 14px
      color: rgba(0, 0, 0, 0.5)
      font-weight: bold
      display: block

      i

        &.fa-arrow-left
          margin-right: 5px
          color: rgba(0, 0, 0, 0.75)

        &.fa-arrow-right
          margin-left: 5px
          color: rgba(0, 0, 0, 0.75)

    div.ng-searchbox-filter-operators-wrapper

      position: absolute