div(
  class="ng-searchbox-filter-selectors",
  [hidden]="!filter.editing"
)
  ul(
    class="ng-searchbox-selectors-list"
  )
    li(
      *ngFor="let selector of selectors",
      [ngClass]="{ 'active': selector.selected }",
      (click)="takeSelector(selector);"
    )
      span([innerText]="selector.name")










